# Auto detect text files and perform LF normalization
* text=auto

# Custom for Visual Studio
*.cs     diff=csharp

# Standard to msysgit
*.doc	 diff=astextplain
*.DOC	 diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot  diff=astextplain
*.DOT  diff=astextplain
*.pdf  diff=astextplain
*.PDF	 diff=astextplain
*.rtf	 diff=astextplain
*.RTF	 diff=astextplain

# Don't skip Examples directory for file detection
* linguist-documentation=false
Examples/* linguist-documentation=false
Examples/*.ino linguist-documentation=false
Examples/BackgroundRead/BackgroundRead.ino linguist-documentation=false
INA226/Examples/* linguist-documentation=false
SV-Zanshin/INA226/Examples/* linguist-documentation=false

Examples/* linguist-vendored=false
